/*Reset general: eliminar espaciado*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.layout{
    display:grid;
    /*definir una grilla con nombres*/
    grid-template-areas:
    "encabezado encabezado"
    "menu contenido"
    "pie pie";

    /*definir columnas:
    primera columna de 200px,
    segunda columna flexible, ocupa todo el espacio disponible(1fr)*/
    grid-template-columns: 200px 1fr;

    /*definir filas:width: 
    - fila: auto /alto del encabezado
    - fila 2: 1fr (el espacio disponible)
    - fila: footer q sea auto*/
    grid-template-rows: auto 1fr auto;
    min-height: 100vh; /*vh = Viewport Height*/
    font-family: sans-serif;

    /*areas especificas asignadas*/
    .encabezado{
        grid-area: encabezado;
        background-color: darksalmon;
        color: #fff;
        padding: 80px 30px;
        text-align: center;
        font-size: 24px;
    }

    .menu{
        grid-area: menu;
        background-color: cornflowerblue;
        color:white;
        font-size: 16px;
        padding: 20px;
    }

    .contenido{
        grid-area: contenido;
        background-color: chartreuse;
        color: rgb(16, 22, 10);
        padding:20px;
    }

    .pie{
        grid-area: pie;
        background-color: black;
        color:#fff;
        text-align: center;
        padding:20px;
    }

}
